

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        color: #fff;
        padding: .5rem;
    }

    #myCanvas{
        border: 5px solid lightgreen;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    #Start{
        background-color:azure;
        padding: .3rem 1rem;
        border: none;
    }
}